* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
input {
  outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
input::placeholder {
  color: #bdbdbd;
}
a {
  text-decoration: none;
  color: black;
}

.big-empty-text {
  font-size: 32px;
  padding: 30px;
}
